:root {
     --cor0:#c5ebd6;
     --cor1:#83e1ad;
     --cor2:#3ddc84;
     --cor3:#2fa866;
     --cor4:#1a5c37;
     --cor5:#063d1e;
    }

    *{
        margin: 4px;
        padding: 2px;
    }

    body{
        background-color: rgba(127, 255, 212, 0.295);
    }

main{
    background-color: #83e1adab;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px  0px  8px rgba(0, 0, 0, 0.752) ;
    
    }

header {
    color: #3ddc84;
    
}

nav{
    background-color: #2fa8656b;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px  0px  8px rgba(0, 0, 0, 0.752) ;
    
    
    }
main h1 {
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
main h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    margin: auto;
}
footer {
    background-color: #2fa86547 ;
    color: black;

}

.options{
    border-top: 1px solid black ;
}